<h1>Dragon Ball Z</h1>
<hr />

<div class="row">
  <div class="col">
    <!-- el atributo [DOSarrPersojesDBZ] es en realidad una variable que viene desde su componente
      app-list-personajes que tiene el decorador @Input() para que pueda aparecer aquí y nosotros poder mandarle un valor.
    Le asignamos un valor del arreglo arrPersonajesDBZ que existe en el script main-pagecomponente  -->

    <!-- <app-list-personajes [miVariableX]=" 'esto es string' "></app-list-personajes> -->
    <app-list-personajes> </app-list-personajes>

  </div>

  <div class="col">

    <!-- Video 64: el Input() en este caso funciono alrevez , asigno el valor de TRESarrP al arrPersonaDBZ, pero se explicara  -->
    <!-- <app-agregar [TRESarrPersonajesDBZ]="arrPersonajesDBZ"></app-agregar> -->
    <!-- <app-agregar (onNuevoPersonaje)="agregarPersonaje($event)"></app-agregar> -->

    <app-agregar></app-agregar>

  </div>
</div>