<h1>Dragon Ball Z</h1>
<hr />

<div class="row">
  <div class="col">
    <!-- el atributo [DOSarrPersojesDBZ] es en realidad una variable que viene desde su componente
      app-list-personajes que tiene el decorador @Input() para que pueda aparecer aquí y nosotros poder mandarle un valor.
    Le asignamos un valor del arreglo arrPersonajesDBZ que existe en el script main-pagecomponente  -->

    <!-- <app-list-personajes [miVariableX]=" 'esto es string' "></app-list-personajes> -->
    <app-list-personajes [data]="arrPersonajesDBZ"> </app-list-personajes>
  </div>
  <div class="col"></div>
</div>
