<h1>Dragon Ball Z</h1>
<hr />

<div class="row">
  <div class="col">
    <h3>Personajes</h3>
    <hr />
    <ul>
      <li>Krillin - 700</li>
      <li>Goku - 1700</li>
      <li>Vegeta - 1500</li>
      <li>Trunks - 1300</li>
    </ul>
  </div>

  <div class="col">
    <h3>Agregar Personaje</h3>
    <hr />
    <form action="" (ngSubmit)="agregarPersonaje()">
      <input type="text" placeholder="Nombre del personaje" />
      <input type="number" placeholder="Nivel del personaje" />
      <button type="submit">Agregar</button>
    </form>
  </div>
</div>
