<h3>Agregar Personaje</h3>
<hr />
<!-- El evento (ngSubmit) (importada del modulo "FormModule") se dispara cuando identifica que 
  dentro del <Form> se hizo "submit" con el <button> y podemos ejecutar codigo, nos ahorra el trabajo
    de tener que usar el otro evento (submit) con el parametro $event para posteriormente
desde el componente tener que user el parametro "evento.preventDefault()", 
conjunto al event.target.value.
ver ejemplo debajo-->
<!-- <form action="" (submit)="agregarPersonaje($event)">  -->
<!-- <form (ngSubmit)="agregarPersonaje($event)">  el parametro $event no es necesario -->
<form (ngSubmit)="agregarPersonaje()">


  <!-- Estos atributos no son necesario con el parametro $event -->
  <!-- [value]="PersonajeDBZ.nombre" -->
  <!-- (input)="agregarPersonaje($event)" -->

  <input type="text" placeholder="Nombre del personaje" name="nombre" [(ngModel)]="personajeDBZ.nombre" />
  <input type="number" placeholder="Nivel de Pelea" name="nivelPelea" [(ngModel)]="personajeDBZ.nivelDePelea" />

  <button type="submit">Agregar</button>

  <!-- Con los corchetes en un atributo ejem : "[value]" nos permite ejecutar codigo dentro de las comillas,
    que tiene acceso a los script componentes -->
  <!-- El evento (input) se dispara cuando ingresan valor en el campo  -->
  <!-- "ngModel" esto reemplaza al atributo "value" y va ejecutandose en didrecto, ver mas abajo  -->
  <!-- [ngModel] Con los corchetes podemos asignarle un valor desde el componente -->
  <!-- [(ngModel)]con los parentesis disparamos el evento 'ngModel' que combinado con
      los corchetes pues editamos y al mismoa tiempo asignamos el valor escrito en el input -->


</form>